<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <h4>Summary of your order:</h4>
  <br/>
  <%= render 'order' %>

  <hr/>

  <p>Your order total: <%= @order.total %></p>
  <p>The associated email for this order: <%= @order.email %></p>
  <hr/>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
